{% extends './base.html' %}

{% block content %}
  <div class="site-container">
    <h1>{{form.instance.text|default:"New Answer"}}</h1>
    <p>{{ question.prompt }}</p>
    <form action="" method="POST">
      {% csrf_token %}
      <section>
        {{ formset }}
      </section>
      <input type="submit" value="Save">
    </form>
    <!-- {% if user.is_authenticated and form.instance.pk %}
    <hr>
    <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}">Add Answer</a>
    {% endif %} -->
  </div>
{% endblock content %}
